#reviewsHeader
	.pageTitle
		div /movies
	#reviewButtons
		i.icon-star-half-full.icon-large(ng-click="invertSelection()")#inverseButton {{numSelected}}
		i.icon-heart.icon-large(ng-click="saveSelection()")#saveButton
	#reviewSearch
		input(type="search")