//- div#reviewsHeader.pageHeader
//- 	#reviewsTitle.col-md-2
//- 		div /movies
//- 	#reviewButtons.col-md-3
//- 		i.icon-star-half-full.icon-large(ng-click="invertSelection()")#inverseButton {{numSelected}}
//- 		i.icon-heart.icon-large(ng-click="saveSelection()")#saveButton
//- 	#reviewSearch.col-md-
//- 		input(type="search")

div#reviewsView.pageView
	div.reviewRoll
		div(ng-repeat='review in reviews')
			.reviewHeader(data-reviewstate='0')
				.movieName(ng-click="getReviewContent(review.reviewid)")(data-gotreview='false')(data-reviewid="{{review.reviewid}}")
					{{review.title}}
				.selectButton
					i.icon-star-empty.icon-large(ng-click="pressSelect(review.reviewid)")
			.reviewBody