extends layout

block body
  div(ui-view='mainHeader')#mainHeader
  div(ui-view='mainView')#mainView
  footer powered by angular, bootstrap & nodejitsu
  
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-ui-router.min.js')
  script(src='js/lib/jquery-2.0.3.min.js')
  script(src='js/lib/bootstrap.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/movies.js')
