!!!
html(ng-app="gnwebsite")
  head
    meta(charset='utf8')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    base(href='/')
    title gn
    link(rel='stylesheet', href='/app.css')
    link(rel='stylesheet', href='/home.css')
    link(rel='stylesheet', href='/movies.css')
    link(rel='stylesheet', href='/maintenance.css')
    link(rel='stylesheet', href='/blog.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:400|Roboto+Slab:700|Patua+One')(rel='stylesheet')(type='text/css')
  body
    block body