body
  margin 0px
  height 100%
  width 100%

html
  height 100%
  width 100%
  -webkit-user-select none
  -ms-user-select none
  -moz-user-select none

#mainView
  position fixed
  top 40px
  left 0px
  right 0px
  bottom 20px
  overflow-y scroll

#mainHeader
  position fixed
  top 0px
  left 0px
  right 0px

// .pageHeader
//   position relative
//   top 0px
//   height 40px
//   left 0
//   right 0

.pageView
  position absolute
  overflow-y scroll
  height 100%
  width 100%

.pageTitle
  font-family 'Roboto Slab', serif
  font-size 30px
  font-weight bold
  text-align left
  padding-left 10px

