#blogView
	width 100%
	height 100%
	overflow-y inherit
	background-color #FFFFFF
	& > .blogPost:nth-child(odd)
		background-color #FFFFFF
	& > .blogPost:nth-child(even)
		background-color #C5E3BF
	& > .blogPost
		min-height 100px
		width 100%

.blogTitle
	font-family 'Lato'

.blogBody
	font-family 'Open Sans'

#blogHeader
	background-color #488214