.homeWelcome
  font-family 'Roboto Slab'
  font-size 128px

.homeExplanation
  font-family 'Open Sans'
  font-size medium

.contactDetails
  font-family 'Open Sans'
  font-size medium
  &:hover
    text-decoration none

#homeHeader
  background-color #E8E8E8

footer
  font-family "Open Sans"
  font-size small
  position absolute
  bottom 5px
  margin-left auto
  margin-right auto

@media screen and (max-width: 600px)
	.homeWelcome 
		font-family 'Roboto Slab'
		font-size 80px

