#reviewsTitle
  display inline
  & > div
    padding-left 10%

#reviewSearch
  position absolute
  top 0px
  bottom 0px
  right 0px
  width 40%
  height 100%
  display inline
  & > input
    position relative
    top 7px

#reviewButtons
  position absolute
  top 0px
  bottom 0px
  left 30%
  width 30%
  height 100%
  display inline
  padding 0 3%
  text-align left
  & > i
    position relative
    top 13px
    padding 10px

#reviewsHeader
  background-color #8B0000
  color white

#reviewsView
  background-color #E4E4E4

.reviewRoll
  margin 0 auto
  max-width 560px
  min-width 240px
  height 100%
  overflow-y inherit
  & > div
    background-color #F9F9F9
    border-bottom solid 1px #F0F0F0
    &:first-child
      margin-top 20px
    &:last-child
      margin-bottom 20px

.reviewHeader
  padding 10px 25px
  font-size large

.reviewBody
  margin 0px 25px

.selectHeader
  color white !important
  background-color #8B0000 !important

.saveHeader
  color white !important
  background-color #530000 !important

.movieName
  font-family 'Lato', sans-serif
  display inline-block
  vertical-align middle
  width 90%

.selectButton
  width 10%
  height 100%
  text-align right
  display inline-block
  color #8B0000

.movieDescription
  border-top solid 1px #EEEEEE
  font-family 'Open Sans', sans-serif
  font-size medium
  padding-top 10px

